html,body,*{
    margin:0;
    padding:0;
}
header{
    background-color: grey;
    padding:1em 1em 2.5em 1em;
}

header div{
    display: flex;
    flex-direction: row;
    margin-left:15%;
    color:red;
}

#contact{
    position:absolute;
    top: 2em;
    right:0;
}

#contact>h3 {
    display:none;
}

.contacts{
    display:flex;
    flex-direction: column;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.contact-type{
    background-color:red;
    padding:2px;
}
.contact-value{
    background-color:black;
    color:red;
}

.contact-value a{
    text-decoration:none;
    color:red;
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 6em;
}

.content section h3{
    border-bottom: 1px grey solid;
    padding: 5px;
}

.content section h3:before{
    content:".";
    font-size:5em;
    color:red;
}

#about p{
    padding:1em 1em 1em 0;
}

.skills{
    padding: 1em 1em 1em 0;
}

.skills .skill{
    color:white;
    padding:10px;
    background-color: grey;
    min-width: 100%;
    margin:1em;
}

.skills-primary .skill:nth-child(1) span{
    padding:1px;
    background-color: red;
    padding-right: 50%;
}

.skills-primary .skill:nth-child(2) span{
    padding:1px;
    background-color: red;
    padding-right: 30%;
}

.skills-primary .skill:nth-child(3) span{
    padding:1px;
    background-color: red;
    padding-right: 10%;
}

.skills-secondary .skill{
    opacity:0.5;
}

.skills-secondary .skill:nth-child(1) span{
    padding:1px;
    background-color: red;
    padding-right: 80%;
}

.skills-secondary .skill:nth-child(2) span{
    padding:1px;
    background-color: red;
    padding-right: 50%;
}

.skills-secondary .skill:nth-child(3) span{
    padding:1px;
    background-color: red;
    padding-right: 65%;
}

.experience h4{
    margin-top:1.5em;
    color:red;
}

.experience-institution{
    font-weight: lighter;
}

.experience-institution:before{
    content:"@ ";
}

.experience-details{
    margin-bottom:1.5em;
    opacity:0.5;
}

.experience-date-separator{
    color:red;
}

#hobbies ul{
    margin:1em;
}

@media only screen and (max-width: 1200px) {
    header div{
        flex-direction: column;
    }
    
    .content{
        grid-template-columns:1fr;
    }

    #contact{
        position:static;
        margin: 2px;
    }

    #contact>h3 {
        border-bottom: 1px grey solid;
        padding-bottom:0;
        display:block;
    }

    .contacts{
        margin-top:1em;
    }

    .contact-value{
        padding-left:1em;
        background-color:white;
        color:black;
    }

    .contact-value a{
        color:red;
    }

}